


<li class="nav-item" style="margin-left:30px;">
	<a class="nav-link" href="#">Register</a>
</li>

<li class="nav-item" style="margin-left:30px;">
	<a class="nav-link" href="#">Register</a>
</li>
<li class="nav-item" style="margin-left:30px;">
	<a class="nav-link" href="#">Login</a>
</li>